* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px;

}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li {
    list-style: none;
    margin: 20px;

}

.contact-btn button {
    margin-right: 25px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: rgb(130, 111, 230);
    color: whitesmoke;
}

.main-sec {
    display: flex;
}

.left-sec {
    margin: 120px 40px;
    width: 40%;
}

.left-sec h1 {
    font-size: 40px;
    color: rgb(91, 60, 121);
}
.left-sec span {
    color: rgb(111, 111, 199);
} 
.left-sec p {
    margin-top: 15px;
}

.service-btn {
    margin-top: 70px;
    height: 30px;
    width: 120px;
    border-radius: 6px;
    border: none;
    background-color: rgb(130, 111, 230);
    color: whitesmoke;
}   

.right-sec img {
    height: 80vh;
    margin-right: 40px;
}